.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin-top: 5%;
    padding: 2rem;
    background-color: #d1d3db;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
    padding-bottom: 20px;
}

.btn-primary,
.btn-danger {
    width: 100%;
}

.btn-primary,
.btn-danger {
    margin: 20px 0;
}